<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"> 
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
 
        <p>This contains all the projects made by us.</p>

        {{> footer}}
    </body>
</html>